.커피 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}
.커피:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}

.디카페인 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}

.디카페인:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}

.아이스블렌디드 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}
.아이스블렌디드:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}
.주스에이드 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}

.주스에이드:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}

.버블티티 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}
.버블티티:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}
.배버리지 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}
.배버리지:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}

.사이드메뉴RTD {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: black;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid black;
}
.사이드메뉴RTD:hover {
  width: 250px;
  height: 100px;
  background-color: black;
  text-decoration: underline;
  color: white;
}
