@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.third {
  background-color: white;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "TheJamsil5Bold";
}

.third > .contents3 > .style1 {
  font-size: 70px;
}
.third > .contents3 > .style12 {
  font-size: 70px;
}

.third > .contents3 > .style2 > img {
  width: 350px;
  height: 350px;
}

.third > .contents3 > .style3 > img {
  width: 350px;
  height: 350px;
}
