.rodo99 {
  width: 100px;
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 9999px;
  border: 2px solid #d91a46;
  padding: 2px 2px 2px 2px;
}

.rodo9 {
  text-align: center;
}
