.자세히보기 {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  color: orange;
  background-color: white;
  transition: all 0.3s;
  border: 1px solid orange;
}

.자세히보기:hover {
  width: 250px;
  height: 100px;
  background-color: rgb(255, 123, 0);
  text-decoration: underline;
  color: white;
}
